.arrow {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
}
.arrow:after, .arrow:before {
  box-sizing: inherit;
  content: "";
  display: inline;
  position: absolute;
  background: var(--gray900);
  width: .5em;
  height: 0.12em;
}
.arrow:before {
  transform-origin: right top;
  top: 49%;
  transform: rotate(45deg);
}
.arrow:after {
  bottom: 49%;
  transform-origin: right bottom;
  transform: rotate(-45deg);
}