.mobile-bar:before,.mobile-bar:after {
  content: '';
  position: absolute;
  background-color: black;
  height: 5%;
  width: 100%;
  margin: 0 auto;
}
.mobile-bar:before {
  top: 35%;
}
.mobile-bar:after {
  bottom: 35%;
}
.close:before  {
  top: 48%;
  transform: rotate(-44deg);
}
.close:after  {
  top: 48%;
  transform: rotate(44deg);
}
.active:before {
  animation: keyb .5s .12s;
  animation-fill-mode: forwards;
}

.active:after {
  animation: keya .5s .12s;
  animation-fill-mode: forwards;
}


@keyframes keyb {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(-50deg);}
  100% {top: 48%;transform: rotate(-44deg);}
}

@keyframes keya {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(50deg);}
  100% {top: 48%;transform: rotate(44deg);}
}