*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
  --fs-s: 2.2rem;
  --fs-m: 3.5rem;
  --fs-l: 4rem;
  --fs-xl: 8rem;
  --fs-xxl: 10rem;
  --xs: 1rem;
  --s: 2rem;
  --m: 4rem;
  --l: 6rem;
  --xl: 10rem;
  --xxl: 16rem;
  --light-gray: #ddd;
  --w-col: 500px;
  --w-min-content: 120rem;
  --gray: #f7f7f7;
  --gray100: #e8e8e8;
  --gray300: #a5a5a5;
  --gray900: #151515;
}

@font-face {
  font-family: Inter;
  src: url('./font/Inter-Medium.ttf') format('truetype');
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: Inter;
}
body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  color: inherit;
  cursor: pointer;
}
a:hover {
  color: var(--gray900);
}
h2 {
  font-size: 8vmax;
  margin-bottom: 15vmin;
  letter-spacing: -.02em;
  line-height: .8;
}
img {
  display: block;
  max-width: 100%;
}
button {
  display: flex;
  align-items: center;
  border: 0;
  background-color: transparent;
  padding: var(--m);
  font-size: var(--fs-m);
  letter-spacing: -.02em;
  cursor: pointer;
}
.search-window {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1;
}
.fx {
  display: flex;
  flex-wrap: wrap;
}
.upc {
  text-transform: uppercase;
}
.wallpaper {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  position: relative;
}
.scroll-snap {
  scroll-snap-align: start;
  scroll-margin-top: var(--xl);
}
.mobile-bar {
  display: none;
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: var(--m);
  right: max(var(--m), 5.5vw);
  z-index: 2;
}
.top-bar {
  position: fixed;
  top: 0;
  right: max(var(--m), 5.5vw);
  z-index: 2;
  font-size: var(--fs-s);
  line-height: 1;
}
.top-bar > div {
  padding: 1.8em 1.3em;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
  scroll-snap-align: start;
  position: relative;
}
.logo {
  width: 3vw;
  min-width: var(--l);
  margin: var(--m) 0 var(--l);
}
.logo > img {
  height: 100%;
  width: initial;
}
.main{
  margin-top: var(--xl);
  flex: 1 0 60%;
  /*min-height: var(--w-col);*/
}
.main > img {
  width: 100%;
}
.menu {
  flex: 1 0 40%;
  padding: 0 max(var(--m), 5.5vw);
  box-sizing: border-box;
}
.nav {
  padding: .5em 0;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: max(var(--fs-m), 3vmax);
  letter-spacing: -.02em;
}
.services {
  display: grid;
  grid-auto-rows: min-content auto;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: var(--s);
  box-sizing: border-box;
}

.service {
  outline: 1px solid var(--gray300);
  padding: var(--l) var(--m);
  box-sizing: border-box;
}
.icon {
  width: 7rem;
  height: 7rem;
  margin-right: var(--m);
  margin-bottom: var(--m);
}
.icon > img {
  width: 100%;
}
.service .desc {
  font-size: var(--fs-l);
  letter-spacing: -.02em;
  flex: 1 1 15rem;
  min-width: 1rem;
}
.swipe-block {
  position: relative;
}
.text-block {
  max-width: max-content;
  margin-bottom: 20vmin;
  font-size: var(--fs-m);
  line-height: 1.25;
  letter-spacing: -.02em;
  box-sizing: border-box;
  position: relative;
}
p {
  max-width: 40ch;
}
.more {
  margin-top: var(--s);
}


.swiper {
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  /*white-space: nowrap;*/
  scroll-direction: horizontal;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.swiper::-webkit-scrollbar {
  display: none;
}
.sw-fl {
  display: flex;
  width: max-content;
}
.slide {
  position: relative;
  width: min(calc(100vmin - var(--xl)), 500px);
  margin-right: 16px;
  overflow: hidden;
  border:1px solid var(--gray300);
  box-sizing: border-box;
  scroll-snap-align: start;
}
.slide img {
  background-color: var(--gray100);
  width: 100%;
}
.slide-nav {
  justify-content: center;
  align-items: flex-end;
  padding: var(--s) var(--m);
  box-sizing: border-box;
}
.slide-nav > *:disabled {
  color: inherit;
}

.image-block {
  max-width: 100%;
  width: calc((100vh - var(--xl)) * 1.5);
  overflow: hidden;
}

.image-block > img {
  width: 100%;
  height: inherit;
  object-fit: contain;
}
.right {
  margin-left: auto;
}
.columns {
  margin: 0 var(--l) 0 auto;
  padding: max(var(--m), 3vw);
  box-sizing: border-box;
  columns: 20ch 3;
  column-gap: 2em;
  word-break: break-word;
  text-align: left;
  overflow-wrap: break-word;
  background-color: var(--gray100);
  font-size: var(--fs-s);
  letter-spacing: -.02em;
}
.stickers {
  font-size: clamp(var(--fs-xl), 12vmin, var(--fs-xxl));
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sticker {
  padding: 0 var(--m) 1em var(--m);
}
.sticker-title {
  line-height: 1;
  letter-spacing: -.05em;
  font-weight: bold;
  margin-bottom: .2em;
}

.sticker-desc {
  font-size: .2em;
}

.footer{
  display: flex;
  flex-wrap: wrap;
  padding: 0 var(--l);
  box-sizing: border-box;
  font-size: var(--fs-s);
  scroll-snap-align: end;
}
.bottom-logo {
  width: 3vw;
  min-width: var(--l);
  padding: 0;
}
.col{
  display: flex;
  min-width: 16rem;
  max-width: 40rem;
  flex: 1 1 25%;
  flex-direction: column;
  padding-bottom: var(--xl);
}
.col a {
  padding: var(--s) var(--s) var(--s) 0;
  width: max-content;
}
.col h4 {
  font-size: var(--fs-m);
  font-weight: normal;
  margin-bottom: var(--m);
}
.col-end {
  display: flex;
  max-width: none;
  justify-content: flex-end;
  align-items: flex-end;
}
.vmb {
  margin-bottom: 40vmin;
}
.sp {
  padding: 0 var(--m);
  box-sizing: border-box;
}
.opt-w {
  width: 60%;
}
:focus {
  outline: 1px solid var(--gray900);
}

@media only screen and (max-width: 1024px) {
  .menu {
    min-width: 100%;
  }
  .slide-nav {
    position: absolute;
    width: 100%;
    top: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  /*.slide {*/
  /*  min-width: 100%;*/
  /*}*/
  .opt-w {
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  html {
    font-size: 8px;
  }
  .mobile-bar {
    display: block;
  }
  .top-bar {
    display: none;
    width: 100vw;
    height: 100vh;
    right: 0;
    background-color: white;
    flex-direction: column;
    padding: var(--xl) 5.5vw;
  }
  .top-bar > div {
    padding: var(--s) 0;
  }
  .show {
    display: block;
  }
  .columns {
    margin-right: 0;
  }
}
@media (pointer:coarse) {
  .slide-nav {
    display: none;
  }
  .swiper {
    max-width: 100%;
  }
}
